:root {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  height: 100vh;
}

@import "base/_variables";

@import "blocks/_header";
@import "blocks/_products";
@import "blocks/_footer";
