.filters {
  position: absolute;
  width: 300px;
  background-color: $color-ghost;

  &-buttons {
    min-height: 40px;
    background-color: $color-light-gray;
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;

    &__copy,
    &__reset {
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      transition: 0.25s all;
      cursor: pointer;
  
      &:hover {
        background-color: $color-blue;
        color: #ffffff;
        transition: 0.25s all;
      }
    }
  }

  &-sort {
    min-height: 200px;
    padding: 0 10px 15px 10px;

    &__header {
      text-align: center;
      margin-bottom: 10px;
    }
  }
}

.filter-list {
  height: 140px;
  overflow: auto;
  border: 1px solid black;

  &-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;

    label {
      text-transform: capitalize;
    }
  }
}