.header {
  &-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: $color-blue;
    border-bottom: 2px solid #ffffff;
  }

  &__logo {
    
    img {
      width: 50px;
      height: 50px;
    }
  }

  &__cart {
    position: relative;
    text-decoration: none;
    color: black;
    img {
      height: 45px;
    }
    span {
      position: absolute;
      right: 40px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}