.product{
	padding: 10px;
}

.element{
	width: 260px;
	height: 225px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	border: 1px solid orange;
	border-radius: 0.5rem;
}

.item-title{
	background: rgba(24,26,28,.8);
	padding: 1%;
	font-size: 90%;
	line-height: 120%;
	text-align: center;
	border-bottom: 1px solid orange;
	border-top-right-radius: 0.5rem;
	border-top-left-radius: 0.5rem;
	white-space: nowrap;
	color: orange;	
}

.element-info{
	width: 55%;
	background-color: #4d2f14f2;
	border-radius: 0 0 0.4rem;
	border-bottom: 1px solid orange;
	border-right: 1px solid orange;
	padding: 1%;
}


.info-list{
	margin: 0;
	padding: 0;
	color: white;
}


.info-list__item{
	font-size: 0.6rem;
	color: wheat;
}
.info-list__item span{
	color: #bb954e;
	font-family: Philosopher,sans-serif;
}

.main {
  position: relative;
  min-height: 250px;
  padding-top: 25px;
  
  .products {
    height: 100%;
    padding-left: 300px;
    background-color: rgb(183, 255, 186);

    &-sort {
      display: flex;
      justify-content: space-between;
      min-height: 40px;
      // flex-wrap: wrap;
      padding: 5px 15px;
      background-color: rgb(255, 205, 112);
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &-item {
      position: relative;
      width: 250px;
      height: 300px;
      border: 1px solid black;
      margin-top: 15px;
      background-color: rgb(234, 255, 156);

      &__image {
        width: 30%;
        height: 30%;
        
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

