.product {
  padding: 10px;
}

.element {
  width: 360px;
  height: 225px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 0.5rem;
  transition: 0.35s all;

  &:hover {
    box-shadow: 0 0 20px rgb(104, 218, 238);
    transition: 0.35s all;
  }

  &-info {
    width: 80%;
    background: rgba(43, 43, 43, 0.795);
    border-radius: 0 0.4rem 0.4rem 0;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    padding: 1%;
    height: 50%;
  }
}

.item {

  &-title {
    background: $color-gray;
    padding: 1%;
    font-size: 90%;
    line-height: 120%;
    text-align: center;
    border-bottom: 1px solid #ffffff;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    white-space: nowrap;
    color: #ffffff;
  }

  &-buttons {
    margin-bottom: 15px;
    text-align: center;

    form {
      display: inline;
    }

    &__add {
      width: 150px;
      height: 30px;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      transition: 0.25s all;
      cursor: pointer;
  
      &:hover {
        background-color: $color-blue;
        color: #ffffff;
        transition: 0.25s all;
      }
    }
    
    &__details {
      margin-left: 10px;
      height: 30px;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      transition: 0.25s all;
      cursor: pointer;
  
      &:hover {
        background-color: $color-blue;
        color: #ffffff;
        transition: 0.25s all;
      }
    }
  }
}

.info-list {
  margin: 0;
  padding: 0;
  color: white;

  &__item {
    font-size: 16px;
    color: $color-blue;
    text-transform: capitalize;

    span {
      color: #ffffff;
    }
  }
}

.main {
  position: relative;
  min-height: 250px;

  .products {
    height: 100%;
    padding-left: 300px;
    
    &__droplist,
    &__search {
      height: 35px;
      padding: 0;
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 4px;
    }

    &__search {
      padding-left: 10px;
    }

    &-sort {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 40px;
      padding: 5px 15px;
      background-color: $color-light-gray;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}